<div class="row">
	<div class="col-md-6" id="search-form-outer">
		<div id="search-form">
			<h1>Craigslist Auto Search</h1>
			<form (ngSubmit)="onSubmit(); this.searchForm.reset()" #searchForm>
				<label for="make">Make:</label>
				<input type="text" 
					   class="form-control" 
					   id="make" 
					   [(ngModel)]="query.make"
					   name="make">
					   <br>
				<label for="model">Model:</label>
				<input type="text"
					   class="form-control" 
					   id="model"
					   [(ngModel)]="query.model"
					   name="model">
					   <br>
				<strong>Transmission:</strong>
				<div class="checkbox">
					<label>
						<input type="checkbox" 
							   [(ngModel)]="manual" 
							   name="manual">
						Manual
					</label>
					<label>
						<input type="checkbox" [(ngModel)]="automatic" 
							   name="automatic">
						Automatic
					</label>
					<label>
						<input type="checkbox" [(ngModel)]="other" name="other">
						Other
					</label>
				</div>
				<!-- Price range slider -->
				<p>
					<label for="price">Price range:</label>
				  	<input type="text" id="price" 
				  		   readonly style="border:0; color:#f6931f; 
				  		   				   font-weight:bold;">
				</p>
				<div id="price-range"></div>
				<br>
				<!-- Year range slider -->
				<p>
					<label for="year">Year range:</label>
				  	<input type="text" id="year" 
				  		   readonly style="border:0; color:#f6931f; 
				  		   				   font-weight:bold;">
				</p>
				<div id="year-range"></div>
				<br>
				<!-- City selector dropdown -->
				<label for="citySelector">City:</label><br>
				<select name="citySelect" 
						id="citySelector" 
						[(ngModel)]="selectedCity">
					<option *ngFor="let city of cities">
						{{ city }}
					</option>
				</select>
				<br>
				<br>
				<button type="submit" class="btn btn-default" *ngIf="!submitted">	
					Search
				</button>
				<button type="submit" class="btn btn-default" *ngIf="submitted">	
					Append
				</button>
				<button type="button" 
						class="btn btn-default" 
						*ngIf="submitted"
						(click)="clear()">	
					Clear
				</button>
			</form>
		</div>
	</div>
	<div class="col-md-6" [hidden]="!submitted" id="search-results">
		<br>
		<h4>Search Results:</h4>
		<app-listings [listings]="listings"></app-listings>
	</div>
</div>