<div class="row">
	<div class="col-md-6" id="search-form-outer">
		<div id="search-form">
			<h1>Craigslist Auto Search</h1>
			<form (ngSubmit)="onSubmit();">
				<label for="make">Make:</label>
				<input type="text" 
					   class="form-control" 
					   id="make" 
					   [(ngModel)]="query.make"
					   name="make">
					   <br>
				<label for="model">Model:</label>
				<input type="text"
					   class="form-control" 
					   id="model"
					   [(ngModel)]="query.model"
					   name="model">
					   <br>
				<strong>Transmission:</strong>
				<div class="checkbox">
					<label>
						<input type="checkbox" 
							   [(ngModel)]="manual" 
							   name="manual">
						Manual
					</label>
					<label>
						<input type="checkbox" [(ngModel)]="automatic" 
							   name="automatic">
						Automatic
					</label>
					<label>
						<input type="checkbox" [(ngModel)]="other" name="other">
						Other
					</label>
				</div>
				<!-- Price range slider -->
				<p>
					<label for="price">Price range:</label>
				  	<input type="text" id="price" 
				  		   readonly style="border:0; color:#f6931f; 
				  		   				   font-weight:bold;">
				</p>
				<div id="price-range"></div>
				<br>
				<!-- Year range slider -->
				<p>
					<label for="year">Year range:</label>
				  	<input type="text" id="year" 
				  		   readonly style="border:0; color:#f6931f; 
				  		   				   font-weight:bold;">
				</p>
				<div id="year-range"></div>
				<br>
				<!-- City selector dropdown -->
				<label for="citySelector">City:</label><br>
				<select [(ngModel)]="selectedCity" name="citySelector" required>
					<option *ngFor="let city of cities" [value]="city">
						{{ city }}
					</option>
				</select>
				<br>
				<br>
				<!-- Seaarch button to run current search/send current form -->
				<button type="submit" class="btn btn-default" 
						*ngIf="!submitted">	
					Search
				</button>
				<button type="submit" class="btn btn-default" *ngIf="submitted">
					Append
				</button>
				<!-- "Aggregator/national search" feature -->
				<button type="button" class="btn" (click)="confirmNat()">
					National Search
				</button>
				<div id="dialog-confirm" 
					 title="Run a national search?"
					 [hidden]="!nationalSearch">
  					<p>
  						<span class="ui-icon ui-icon-alert"></span>
  						This requires numerous requests to search every 
  						Craigslist subdomain and will therefore take longer to
  						complete.
  					</p>
				</div>
				<!-- "Clear" button to clear listings from current search -->
				<button type="button" 
						class="btn btn-danger" 
						*ngIf="submitted"
						(click)="clear()">	
					Clear
				</button>
			</form>
			<br>
			<div class="alert alert-danger" [hidden]="!missingField">
				<strong>Attention!</strong> The 'City' field must be specified
				unless you are running a national search.
			</div>
		</div>
	</div>
	<div class="col-md-6" [hidden]="!submitted" id="search-results">
		<br>
		<span>
			<h4 [style.display]="inline">Search Results:</h4>
			<md-spinner [strokeWidth]="40" 
						[style.display]="inline"
						[style.float]="right"
						*ngIf="!searchCompleted">
			</md-spinner>
		</span>
		<app-listings [listings]="listings"></app-listings>
	</div>
</div>